* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    max-width: 100vw;
    max-height: 75vh;
    padding: 3rem;
    grid-template-rows: 200px auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 9fr;
    text-align: center;
    margin-top: 10px;
}

.navigation-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
}

.task-tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-top: 150px;
}

.tiles {
    padding-top: 100px;
    padding-bottom: 100px;
}

.task-name {
    justify-content: center;
}

.user-tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-top: 150px;
}

.single-user-tile {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
}

.user-icon {
    display: grid;
    grid-row-start: 2;
}

.tasks-assigned {
    display: grid;
    grid-row-start: 3;
}

.task-status-pie {
    display: grid;
    position: absolute;
    left: 30%;
    top: 100%;
}

.progress-bar {
    margin-top: 80px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 50px;
    grid-column-gap: 50px;
}

.username {
    display: grid;
    justify-items: center;
    margin-top: 100px;
    font-size: 3rem;
}

.user-progress-bar {
    width: 90%;
    height: 50px;
    margin-left: 7%;
}

.user-task-list {
    display: grid;
    orphans: 1;
    /* we need to figure out some way to move progress bar*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding-bottom: 10px;
}

.chore {
    margin-left: 50%;
}

.user-page-header {
    height: 375px;
    margin-top: 150px;
    display: grid;
    justify-items: center;
}

.user-page-icon {
    height: 125px;
}

.piechart {
    justify-self: center;
    margin-top: -300px;
}

.footer {
    padding: 50px;
    justify-self: center;
}

.list-of-default-tasks {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    align-items: center;
    grid-column-gap: 20px;
    padding: 50px;
    grid-row-gap: 40px;
}

.list-of-default-tasks input {
    display: grid;
    grid-row-gap: 40px;
}

#task-time {
    width: 150px;
    height: 50px;
}

#due-date {
    width: 150px;
    height: 50px;
}

#task-frequency {
    width: 150px;
    height: 50px;
}

#multiple-user-option {
    width: 150px;
    height: 50px;
    font-size: small;
}

.users-customization {
    display: grid;
    grid-template-columns: 2fr repeat(8, 1fr) 2fr;
    grid-template-rows: 400px auto;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    padding: 40px;
}

.customization-buttons {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.user-available-hours {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(7, 1fr);
    padding: 30px;
}

.reward-system {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.user-name-entry input {
    width: 175px;
    height: 50px;
}

#color {
    font-size: 1rem;
    width: 175px;
}

#image {
    font-size: 1rem;
    width: 175px;
}